<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Donation</title>
</head>
<body>
<h1>Create New Donation</h1>
<form th:action="@{/donations}" th:object="${donation}" method="post">
    <div>
        <label for="campaign">Campaign ID:</label>
        <select id="campaign" th:field="*{campaign.title}">
            <option value="">Select a campaign</option>
            <option th:each="campaign : ${campaigns}" th:value="${campaign}" th:text="${campaign.title}"></option>
        </select>
    </div>

    <div>
        <label for="amount">Amount:</label>
        <input type="text" id="amount" th:field="*{amount}" />
    </div>
    <div>
        <label for="donorName">Donor Name:</label>
        <input type="text" id="donorName" th:field="*{donorName}" />
    </div>
    <div>
        <button type="submit">Create</button>
    </div>
</form>
</body>
</html>
